#card_dynamic{
	border-radius: 25px;
    box-shadow: 0 3px 10px rgba(0,0,0,.08), 0 0 6px rgba(0,0,0,.05);
    transition: 0.5s transform cubic-bezier(.155,1.105,.295,1.12),.3s box-shadow,.3s -webkit-transform cubic-bezier(.155,1.105,.295,1.12);
	height: 100%;
	background: rgba(255, 255, 255, 0.3);
}

#card_dynamic:hover{
	/* transform: scale(1.01); */
	background: rgba(206, 252, 239, 0.8);
	box-shadow: 0 10px 20px rgba(0,0,0,.12), 0 4px 8px rgba(0,0,0,.06);
}

.img {
	width: 35%;	
	margin: auto;
}  
.img_large {
	width: 75%;
	margin: auto;
}

.card_title {
	padding: 10px;
	font-size: 2rem;
	text-align: center;
	font-weight: 600;
}

.card_text {
	padding: 10px;
	font-size: 1.7rem;
	text-align: center;
}

.center {
	padding: 0px 10%;
}