.sidebar{
	height: 100%;
	border: 1px solid #272727;
	background-color: #fafafa;
}

.link{
	background-color: transparent;
	border: 0cm;
	color: #d14d19;
	width: 100%;
	text-align: left;
	overflow-wrap: normal;
}