.menu-footer {
	display: flex;
}

.footer {
	padding-top: 45px;
	background: linear-gradient(170deg,	rgba(255, 255, 255, 0), rgba(129, 129, 129, 0.9));
	flex-shrink: none;
	font-family: "Audiowide", sans-serif;

}

.footer, .push {
    height: 155px; /* .push must be the same height as .footer */
}

ul {
	list-style-type: none;
}

div {
	display: block;
}

p {
	color: rgb(0, 0, 180);
}
