.menu-footer {
	display: flex;
}

.footer {
	padding-top: 25px;
	background: linear-gradient(#ffffff, #b8b8b8);
}

ul {
	list-style-type: none;
}

div {
	display: block;
}

p {
	color: rgb(0, 0, 180);
}
