.menu-footer {
	display: flex;
}

.footer {
	padding-top: 20px;
	background: radial-gradient( rgba(255, 255, 255, 1), rgb(233, 233, 233));
	flex-shrink: none;
	font-family: "Audiowide", sans-serif;
}

.footer, .push {
    height: 125px; /* .push must be the same height as .footer */
}

ul {
	list-style-type: none;
}

div {
	display: block;
}

p {
	color: rgb(0, 0, 180);
}
