.title{
	text-align: center;
	font-size: 1.5rem;
	margin: 10px 0px 10px 0px;
}

.logo{
	text-transform: uppercase;
	font-weight: 700;
	font-size: 1.3rem;

}
.logo:hover{
	text-decoration: none; 
	color:  rgb(206, 252, 239);
}

.header{
	color: #2CAEBE;
	margin-bottom: -1px;
}