.table-responsive thead th {
	background-color: #ffffff;
	color: #300500;
}

.table-responsive{
	max-height: 500px;
	overflow-y: scroll;
}

.table-responsive thead th { 
	position: sticky; 
	top: 0; 
}