.menu-footer {
	display: flex;
}

.footer {
	margin-top: 50px;
	padding-top: 20px;
	background: radial-gradient( rgba(255, 255, 255, 1), rgb(233, 233, 233));
	flex-shrink: 0;
	font-family: "Audiowide", sans-serif;
}

ul {
	list-style-type: none;
}

div {
	display: block;
}

p {
	color: rgb(0, 0, 180);
}
